{% extends "base.html" %}

{% load static %}

{% block content %}

    <div>
        <img src="{% static 'home/Imagen_fondo.jpg' %}" alt="Imagen de fondo sacada de Rocket League.">
        <h1>Campeonato oficial Psyonix.</h1>
        <h2>Demuestra tu habilidad.</h2>
        <p>Campeonato oficial aprobado por Psyonix, demuestra que eres el mejor jugador de Rocket League participando en nuestro torneo oficial, con premios canjeables dentro del propio juego. Mucha suerte contendiente, y a por todas.</p>
        <ul>
        <li><a href="#">Iniciar Sesion</a></li>
        <li><a href="{% url 'registro' %}">Registrarse</a></li>
        </ul>
    </div>

{% endblock %}