<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Torneo</title>
</head>
<body>
    <nav>
        {% block nav %}
            {% if user.is_authenticated %}
                <li><form action="{% url 'cerrar_sesion' %}" method="post">
                    {% csrf_token %}
                    <button>Cerrar Sesion</button>
                </form></li>
                <li><a href="{% url 'inscripcion' %}">Inscribirse</a></li>
            {% else %}
                <li><a href="{% url 'inicio_sesion' %}">Iniciar Sesion</a></li>
                <li><a href="{% url 'registro' %}">Registrarse</a></li>
            {% endif %}
        {% endblock %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>